/* DocSearch */
.DocSearch-Screen-Icon {
  display: flex;
  justify-content: center;
}
.DocSearch.DocSearch-Button {
  margin: 0;
  padding: 12px;
  height: 50px;
  width: 100%;
  border: 1px solid;
  @apply rounded-lg border border-slate-200 hover:shadow-lg dark:border-slate-100/7.5 dark:hover:bg-zinc-900;
  transition: box-shadow 0.2s ease-in-out;
  background-color: white;
  border-radius: 6px;
}
.DocSearch.DocSearch-Button:hover {
  box-shadow: inset 0 0 0 1px #5172ff;
}
.DocSearch.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: theme("colors.gray.600");
}
.DocSearch.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: #5172ff;
}
.DocSearch .DocSearch-Search-Icon {
  height: 16px;
  margin-right: 2px;
  color: theme("colors.gray.600");
  transition: color 0.2s ease-in-out;
}
.DocSearch .DocSearch-Button-Placeholder {
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
}
.DocSearch .DocSearch-Button-Keys {
  margin-left: auto;
  align-items: baseline;
  justify-content: end;
  padding-top: 4px;
}
.DocSearch .DocSearch-Button-Key {
  color: #b6b7d5;
  box-shadow: none;
  background: transparent;
  margin: 0;
}
.DocSearch .DocSearch-Button-Key:first-child {
  font-size: 1.2em;
  margin-right: 0;
  margin-right: -4px;
}

html[data-theme="dark"] .DocSearch.DocSearch-Button {
  background: theme("colors.gray.900");
  color: theme("colors.gray-300");
  border-color: theme("colors.gray-300");
}
html[data-theme="dark"]
  .DocSearch.DocSearch-Button:hover
  .DocSearch-Button-Placeholder {
  color: theme("colors.gray.200");
}

html[data-theme="dark"]
  .DocSearch.DocSearch-Button:hover
  .DocSearch-Seach-Icon {
  color: theme("colors.gray.200");
}
